.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a099ff;
  background-image: radial-gradient(at 83% 67%, rgb(152, 231, 156) 0, transparent 58%),
    radial-gradient(at 67% 20%, hsla(357, 94%, 71%, 1) 0, transparent 59%),
    radial-gradient(at 88% 35%, hsla(222, 81%, 65%, 1) 0, transparent 50%),
    radial-gradient(at 31% 91%, hsla(9, 61%, 61%, 1) 0, transparent 52%),
    radial-gradient(at 27% 71%, hsla(336, 91%, 65%, 1) 0, transparent 49%),
    radial-gradient(at 74% 89%, hsla(30, 98%, 65%, 1) 0, transparent 51%),
    radial-gradient(at 53% 75%, hsla(174, 94%, 68%, 1) 0, transparent 45%);

  .card {
    width: 50%;
    display: flex;

    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    min-height: 600px;
    overflow: hidden;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    box-shadow: 5px 5px 15px 8px rgba(0, 0, 0, 0.3);

    .left {
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: #fff;
      background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)),
        url("https://images.pexels.com/photos/3228727/pexels-photo-3228727.jpeg?auto=compress&cs=tinysrgb&w=1600")
          center;
      background-size: cover;

      h1 {
        font-size: 65px;
        line-height: 110px;
        text-shadow: 5px 7px 3px rgba(255, 255, 255, 0.5);
      }

      p {
      }

      span {
        font-size: 14px;
      }

      button {
        width: 50%;
        padding: 10px;

        background: rgba(255, 255, 255, 0.025);
        border-radius: 10px;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        color: #fff;
        font-weight: bold;
        cursor: pointer;
        box-shadow: 5px 5px 15px 8px rgba(0, 0, 0, 0.4);
      }

      button:hover {
        background: rgba(255, 255, 255, 0.3);
        box-shadow: none !important;
      }
    }

    .right {
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      justify-content: center;

      h1 {
        font-size: 35px;
        color: #555;
        text-shadow: 5px 7px 3px rgba(0, 0, 0, 0.3);
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 30px;

        input {
          border: none;
          padding: 20px 10px;
          background: rgba(255, 255, 255, 0.05);
          border-radius: 15px;

          border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        }

        input:focus {
          outline: 2px solid rgba(255, 255, 255, 0.3);
        }

        input::placeholder {
          font-weight: 600;
        }

        button {
          width: 50%;
          padding: 10px;

          border-radius: 10px;
          backdrop-filter: blur(5px);
          -webkit-backdrop-filter: blur(5px);
          border: 1px solid rgba(255, 255, 255, 0.3);
          box-shadow: 5px 5px 15px 8px rgba(0, 0, 0, 0.4);
          color: #555;
          font-weight: bold;
          cursor: pointer;
          box-shadow: 5px 5px 15px 8px rgba(0, 0, 0, 0.4);

          background: rgba(255, 255, 255, 0.05);
        }

        button:hover {
          border: 1px solid rgba(255, 255, 255, 0.3);
          box-shadow: none !important;
        }
      }
    }
  }
}
